@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    width: 100vw;
    background-image: url('img/Background.png');
}
 
.for0for {

    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 50vw;
    .image-404 {
        width: 230px;
    }
    .for {
        width: 80.16px;
    }
}
 
.message-404 {
   

    font-family: 'Outfit';
    color: #D6D6F2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;

    .message {
        width: 60%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        p {
            font-size: 20px;
            font-weight: 300;
            margin-top: 30px;
        }

        h1 {
            font-size: 40px;
            width: 90%;
        }
        .buttons {
           width: 100%;
           margin-top: 55px;
            .button {
                font-family: 'Outfit';
                margin-right: 10px;
                outline: 0;
                color: white;
                border: none;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                background-color: #151557;
                border-radius: 999px;
                padding: 12px 24px;
            }
        }
       
    }
    
   
}


@media only screen and (max-width: 880px) {

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .for0for .for {
        width: 68px;
    }

    .message-404, .for0for {
        width: auto;
        height: auto;
    }
    .message-404 {
        
        justify-content: center;
        align-items: center;
        
        .message {
            margin-bottom: 80px;
            height: auto;
            width: 80%;
            h1 {
                font-size: 36px;
                width: auto ;
            }
        }
    }
}